<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Management System</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').selectize({
                sortField: 'text'
            });
        });

    </script>
</head>
<body>

<nav>
    <div class="nav-wrapper brown lighten-5">
        <a href="/admin-home" class="brand-logo center black-text" style="text-decoration: none">Sanatorium</a>
        <ul id="nav-mobile " class="right hide-on-med-and-down ">
            <li><a href="/logout" class="black-text">Выход</a></li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col s3">
            <h4>Пациенты</h4>
        </div>
        <div class="col s6">
            <form id="forsearch" class="searchForm" action="/findPatients" method="get">
                <input class="search" type="search" name="search">
                <i class="fa fa-search"></i>
            </form>
        </div>
    </div>
    <div th:if="${patientList == null || patientList.isEmpty()}">
        <h4 style="color: darkred">Пациенты не найдены</h4>
    </div>
    <table border="1" class = "table table-striped table-responsive-ms">
        <thead>
        <tr>
            <th>
                Код СКК
            </th>
            <th>
                Серия путевки
            </th>
            <th>
                Полное имя
            </th>
            <th>
                Дата прибытия
            </th>
            <th>
                Корпус

            </th>
            <th>
                Информация
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patientList}">
            <td th:text="${patient.sanatorium_cc}"></td>
            <td th:text="${patient.getVoucher_s()}"></td>
            <td th:text="${patient.getFullName()}"></td>
            <td th:text="${patient.getArrivalDate().toString().substring(0,11)}"></td>
            <td th:text="${patient.getCorpus()}"></td>
            <td> <a th:href="@{'/admin-home/patient-info/' + ${patient.getSanatorium_cc()}}" class="btn brown lighten-4 black-text" style="text-decoration: none">Информация</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="divider"></div>
    <br>
    <h4>Параметризированный поиск</h4>

    <form method="get" action="/admin-home/find-with-parameters" th:object="${patientQueryDto}">

    <div class="row">
        <div class="col s4">
            <select th:field="*{diseaseId}">
                <option value="">Выберите болезнь</option>
                <tr th:each="disease : ${diseasesList}">
                    <option th:value="${disease.id}" th:text="${disease.name}"></option>
                </tr>
            </select>
        </div>
        <div class="col s4">
            <select th:field="*{doctorId}">
                <option value="">Выберите лечащего доктора</option>
                <tr th:each="doctor : ${doctorList}">
                    <option th:value="${doctor.id}" th:text="${doctor.getFullName()}"></option>
                </tr>
            </select>
        </div>
        <div class="col s4">
            <select th:field="*{professionId}">
                <option value="">Выберите профессию</option>
                <tr th:each="profession : ${professionList}">
                    <option th:value="${profession.id}" th:text="${profession.getName()}"></option>
                </tr>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <label>
                Выберите начальную дату
                <input type="date" name="startDate" class="validate" th:field="*{startDate}"/>
                <p class="red-text" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></p>
            </label>
        </div>
        <div class="col s4">
            <label>
                Выберите конечную дату
                <input type="date" name="endDate" class="validate" th:field="*{endDate}"/>
                <p class="red-text" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">ddd</p>
            </label>
        </div>
        <div class="col s4">
            <label>
                Выберите дату рождения
                <input type="date" name="till" class="validate" th:filed="*{birthday}"/>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <label>
                Выберите город проживания пациента
                <select name="domicile">
                    <option value="">Выберите город</option>
                    <option th:each="domicile : ${domicileList}" th:value="${domicile}" th:text="${domicile}"></option>
                </select>
            </label>
        </div>
        <br>
        <br>
        <br>
        <div class="center">
            <button class="btn waves-effect deep-purple lighten-4 center" type="submit" name="action">Submit
                <i class="material-icons left">group</i>
            </button>
        </div>
    </div>
    </form>
    <br>
    <br>
    <br>
    <br>

</div>

</body>
</html>

<style>
    #forsearch{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all 1s;
        width: 50px;
        height: 50px;
        background: white;
        box-sizing: border-box;
        border-radius: 25px;
        border: 4px solid white;
        padding: 5px;
    }


    .fa{
        box-sizing: border-box;
        padding: 10px;
        width: 42.5px;
        height: 42.5px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        color: #07051a;
        text-align: center;
        font-size: 1.2em;
        transition: all 1s;
    }

    #forsearch:hover{
        width: 200px;
        cursor: pointer;
    }

    #forsearch:hover input{
        display: block;
    }

    #forsearch:hover .fa{
        background: #07051a;
        color: white;
    }
</style>