<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit diseases</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
<nav>
    <div class="nav-wrapper brown lighten-5">
        <a href="/admin-home" class="brand-logo center black-text" style="text-decoration: none">Sanatorium</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a class="black-text">Пациенты</a></li>
        </ul>
        <ul id="nav-mobile " class="right hide-on-med-and-down ">
            <li><a href="/logout" class="black-text">Выход</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col s3">
            <h4>Заболевания</h4>
        </div>
        <div class="col s6">
            <form id="forsearch" class="searchForm" action="" method="get">
                <input class="search" type="search" name="search">
                <i class="fa fa-search"></i>
            </form>
        </div>
    </div>
    <table border="1" class = "table table-striped table-responsive-ms">
        <thead>
        <tr>
            <th>
                Название
            </th>
            <th class="right">
                Действия
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="disease : ${diseaseList}">
            <td th:text="${disease.getName()}"></td>
            <td class="right">
                <a class="btn-small brown lighten-4 black-text" style="text-decoration: none">
                    Информация/Редактирование
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

<style>
    #forsearch{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all 1s;
        width: 50px;
        height: 50px;
        background: white;
        box-sizing: border-box;
        border-radius: 25px;
        border: 4px solid white;
        padding: 5px;
    }


    .fa{
        box-sizing: border-box;
        padding: 10px;
        width: 42.5px;
        height: 42.5px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        color: #07051a;
        text-align: center;
        font-size: 1.2em;
        transition: all 1s;
    }

    #forsearch:hover{
        width: 200px;
        cursor: pointer;
    }

    #forsearch:hover input{
        display: block;
    }

    #forsearch:hover .fa{
        background: #07051a;
        color: white;
    }
</style>