<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Treatment rooms</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>
<body>
<nav>
    <div class="nav-wrapper brown lighten-5">
        <a href="/admin-home" class="brand-logo center black-text" style="text-decoration: none">Sanatorium</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a class="black-text">Пациенты</a></li>
        </ul>
        <ul id="nav-mobile " class="right hide-on-med-and-down ">
            <li><a href="/logout" class="black-text">Выход</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <ul class="collection with-header">
        <li class="collection-header"><h4>Кабинеты</h4></li>
        <li class="collection-item" th:each="room : ${treatmentRooms}">
            <span th:text="'Кабинет номер : ' +${room.getNo()} + ' - ' + ${room.getDescription()}">
            </span>
            <a href="#!" class="secondary-content">
                <i class="material-icons">send</i>
            </a>
        </li>
    </ul>
</div>
</body>
</html>

<script>
    $(document).ready(function(){
        $('.collapsible').collapsible();
    });
</script>