<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New patient</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>
<body>
<nav>
    <div class="nav-wrapper brown lighten-5">
        <a href="/doctor-home" class="brand-logo center black-text" style="text-decoration: none">Sanatorium</a>
        <ul id="nav-mobile " class="right hide-on-med-and-down ">
            <li><a href="/logout" class="black-text">Выход</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <form th:action="@{'/savePatient'}" th:object="${patientDto}" method="POST">
    <input class="hide" id="doctorId" th:field="*{doctorId}"  th:value="*{doctorId}" >
    <ul class="collection with-header">
        <li class="collection-header"><h4>Заполнение данных о пациенте</h4></li>
        <li class="collection-item">
            <div class="row">
                <div class="input-field col s4">
                    <h6>Номер санаторно-курортной карты</h6>
                    <input id="scc" type="text" class="validate" th:field="*{scc}" >
                    <p class="red-text" th:if="${#fields.hasErrors('scc')}" th:errors="*{scc}"></p>
                </div>
                <div class="input-field col s4">
                    <h6>Номер путевки</h6>
                    <input placeholder="Номер путевки" name="voucher" type="number" class="validate" th:field="*{voucher_s}">
                    <p class="red-text" th:if="${#fields.hasErrors('voucher_s')}" th:errors="*{voucher_s}"></p>
                </div>
                <div class="input-field col s4">
                    <h6>Пароль пациента</h6>
                    <input placeholder="Пароль" name="password" type="number" class="validate" th:field="*{password}">
                    <p class="red-text" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="input-field col s6">
                    <h6>Имя пациента</h6>
                    <input placeholder="Имя" name="name" type="text" class="validate" th:field="*{name}">
                    <p class="red-text" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>
                <div class="input-field col s6">
                    <h6>Фамилия пациента</h6>
                    <input placeholder="Фамилия" name="surname" type="text" class="validate" th:field="*{surname}">
                    <p class="red-text" th:if="${#fields.hasErrors('surname')}" th:errors="*{name}"></p>
                </div>
                <div class="input-field col s6">
                    <h6>Отчество пациента</h6>
                    <input placeholder="Отчество" name="middlename" type="text" class="validate" th:field="*{middlename}">
                    <p class="red-text" th:if="${#fields.hasErrors('middlename')}" th:errors="*{middlename}"></p>
                </div>
                <div class="input-field col s6">
                    <h6>Профессия пациента</h6>
                    <select name="professionId" th:field="*{professionId}">
                        <option value="" disabled selected>Выберите профессию</option>
                        <tr th:each="profession : ${professions}">
                            <option th:value="${profession.getId()}" th:text="${profession.getName()}"></option>
                        </tr>
                    </select>
                    <p class="red-text" th:if="${#fields.hasErrors('professionId')}" th:errors="*{professionId}"></p>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="input-field col s4">
                    <h6>Дата рождения</h6>
                    <input placeholder="Дата" name="birthday" type="date" class="validate" th:field="*{birthday}">
                    <p class="red-text" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></p>
                </div>
                <div class="input-field col s4">
                    <h6>Город проживания</h6>
                    <input placeholder="Город" name="Город" type="text" class="validate" th:field="*{domicile}">
                    <p class="red-text" th:if="${#fields.hasErrors('domicile')}" th:errors="*{domicile}"></p>
                </div>
                <div class="input-field col s4">
                    <h6>Дата приезда</h6>
                    <input placeholder="Дата" name="scc" type="date" class="validate" th:field="*{arrivalDate}">
                    <p class="red-text" th:if="${#fields.hasErrors('arrivalDate')}" th:errors="*{arrivalDate}"></p>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <h6>Дата выезда</h6>
                    <input placeholder="Дата" name="birthday" type="date" class="validate" th:field="*{leaveDate}">
                    <p class="red-text" th:if="${#fields.hasErrors('leaveDate')}" th:errors="*{leaveDate}"></p>
                </div>
                <div class="input-field col s6">
                    <h6>Дата получения путевки</h6>
                    <input placeholder="Город" name="Город" type="date" class="validate" th:field="*{voucherDate}">
                    <p class="red-text" th:if="${#fields.hasErrors('voucherDate')}" th:errors="*{voucherDate}"></p>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="input-field col s4">
                    <h6>Корпус</h6>
                    <input placeholder="Корпус" name="birthday" type="text" class="validate" th:field="*{corpus}">
                    <p class="red-text" th:if="${#fields.hasErrors('corpus')}" th:errors="*{corpus}"></p>
                </div>
                <div class="input-field col s4">
                    <h6>Комната</h6>
                    <input placeholder="Комната" name="Город" type="text" class="validate" th:field="*{room}">
                    <p class="red-text" th:if="${#fields.hasErrors('room')}" th:errors="*{room}"></p>
                </div>
                <div class="input-field col s4">
                    <h6>Место</h6>
                    <input placeholder="Место" name="scc" type="text" class="validate" th:field="*{place}">
                    <p class="red-text" th:if="${#fields.hasErrors('place')}" th:errors="*{place}"></p>
                </div>
            </div>

            <div class="row">
                <div class="center">
                    <button class="btn waves-effect grey lighten-2 black-text" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </li>
    </ul>
    </form>
</div>
</body>
</html>

<script>
    $(document).ready(function(){
        $('select').formSelect();
    });
</script>