<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assigned procedures</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<nav>
    <div class="nav-wrapper brown lighten-5">
        <a href="/patient-home" class="brand-logo center black-text" style="text-decoration: none">Sanatorium</a>
        <ul id="nav-mobile " class="right hide-on-med-and-down ">
            <li><a href="/logout" class="black-text">Выход</a></li>
        </ul>
    </div>
</nav>
<h5 class="center">Назначенные процедуры</h5>
<br>
<div class="divider"></div>
<div class="container">
    <div th:each="procedure :${procedureList}">
        <div class="section">
            <div class="row">
                <div class="col s6">
                    <h5 th:text="${procedure.getProcedure().name}">Section 2</h5>
                    <p th:text="${procedure.getProcedure().treatmentRoom.getDescription()} + ' №' + ${procedure.getProcedure().treatmentRoom.getNo()}">Stuff</p>
                </div>
                <div class="col s6 right">
                    <h5>Время работы:</h5>
                    <p th:text="'С ' + ${procedure.getProcedure().getTreatmentRoom().getFrom()} + ' до ' + ${procedure.getProcedure().getTreatmentRoom().getTill()}"></p>
                </div>
            </div>
        </div>
        <div class="divider"></div>
    </div>
</div>
</body>
</html>