<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient info</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
<nav>
    <div class="nav-wrapper brown lighten-5">
        <a href="/doctor-home" class="brand-logo center black-text" style="text-decoration: none">Sanatorium</a>
        <ul id="nav-mobile " class="right hide-on-med-and-down ">
            <li><a href="/logout" class="black-text">Выход</a></li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="col s6"><span class="flow-text">Информация о пациенте</span></div>
    <div class="col s6 offset-s6">
        <div class="divider"></div>
        <div class="section">
            <h5>Личная информация</h5>
            <p th:text="'Фамилия:' + ${patient.get().getSurname()}">Фамилия</p>
            <p th:text="'Имя:' + ${patient.get().getName()}">Имя</p>
            <p th:text="'Отчество:' + ${patient.get().getMiddlename()}">Отчество</p>
            <p th:text="'Дата рождения:' + ${patient.get().getBirthday()}">Дата рождения</p>
            <p th:text="'Город проживания:' + ${patient.get().getDomicile()}">Город проживания</p>
            <p th:if="${patient.get().getProfession() != null}" th:text="'Профессия:' + ${patient.get().getProfession().getName()}">Профессия</p>
        </div>
        <div class="section">
            <h5>Дополнительная информация</h5>
            <p th:text="'Дата прибытия:' + ${patient.get().getArrivalDate()}">Дата прибытия</p>
            <p th:text="'Дата убытия:' + ${patient.get().getLeaveDate()}">Дата убытия</p>
            <p th:text="'Дата выдачи путевки:' + ${patient.get().getVoucherDate()}">Дата выдачи путевки</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h5>Место проживания</h5>
            <p th:text="'Корпус:' + ${patient.get().getCorpus()}">Корпус</p>
            <p th:text="'Комната:' + ${patient.get().getRoom()}">Комната</p>
            <p th:text="'Место:' + ${patient.get().getPlace()}">Место</p>
        </div>
        <div class="divider"></div>
    </div>
</div>

</body>
</html>