<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<nav>
    <div class="nav-wrapper brown lighten-5">
        <a href="" class="brand-logo center black-text" style="text-decoration: none">Sanatorium</a>
        <ul id="nav-mobile " class="right hide-on-med-and-down ">
            <li><a href="/logout" class="black-text">Выход</a></li>
        </ul>
    </div>
</nav>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">

    <div th:each="room : ${treatmentRooms}">
        <div class="divider"></div>
        <div class="section">
            <a th:href="@{'/specialist-home?room='+${room.getNo()}}">
                <i class="medium material-icons right" style="text-decoration: none">add_location</i>
            </a>
            <h6 th:text="${room.getNo()}"></h6>
            <p th:text="' Время работы : c' + ${room.getFrom()} + ' до ' + ${room.getTill()}"></p>
            <span th:text="${room.getDescription()}"></span>
        </div>
        <div class="divider"></div>
    </div>

    <div th:if="${treatmentRooms.isEmpty()}">
        <h5 class="red-text">За вами не закрплен ни один кабинет</h5>
    </div>
</div>
</body>
</html>