<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Procedures</title>
    <meta charset="UTF-8">
    <title>Procedures</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>
<body>
<nav>
    <div class="nav-wrapper brown lighten-5">
        <a href="/doctor-home" class="brand-logo center black-text" style="text-decoration: none">Sanatorium</a>
        <ul id="nav-mobile " class="right hide-on-med-and-down ">
            <li><a href="/logout" class="black-text">Выход</a></li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <form action="/doctor-home/patient/assign/procedures" method="post">
        <input class="hide" name="scc" th:value="${patientId}">
        <ul class="collection with-header">
            <li class="collection-header"><h5>Основные процедуры пациента</h5></li>
            <li class="collection-item">
                <tr th:each="procedure : ${procedureList}">
                    <input class="hide" name="proceduresIds" th:value="${procedure.getId()}">
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header  grey lighten-3 black-text" th:text="${procedure.getName()}"><i class="material-icons">accessibility</i>Процедура</div>
                            <div class="collapsible-body  grey lighten-5 black-text">
                                <div class="row">
                                    <div class="input-field col s6 black-text">
                                        <h6>Назначить процедур :</h6>
                                        <input placeholder="1-10" name="toPass" type="number" class="validate" required>
                                    </div>
                                    <div class="input-field col s6 black-text">
                                        <h6>Примечание</h6>
                                        <input placeholder="Коментарий" name="comment" type="text" class="validate" required>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </tr>

            <li class="collection-header"><h5>Процедуры для профилактики профессиональных заболеваний</h5></li>
            <li class="collection-item">
                <tr th:each="procedure : ${profProcedures}">
                    <input class="hide" name="proceduresIds" th:value="${procedure.getId()}">
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header  grey lighten-3 black-text" th:text="${procedure.getName()}"><i class="material-icons">accessibility</i>Процедура</div>
                            <div class="collapsible-body  grey lighten-5 black-text">
                                <div class="row">
                                    <div class="input-field col s6 black-text">
                                        <h6>Назначить процедур :</h6>
                                        <input placeholder="1-10" name="toPass" type="number" class="validate" required>
                                    </div>
                                    <div class="input-field col s6 black-text">
                                        <h6>Примечание</h6>
                                        <input placeholder="Коментарий" name="comment" type="text" class="validate" required>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </tr>
            </li>
            <br>
            <div class="center">
                <button class="btn waves-effect grey lighten-2 black-text" type="submit" name="action">Далее
                    <i class="material-icons right">send</i>
                </button>
            </div>
            <br>
        </ul>
    </form>
</div>

</body>
</html>

<script>
    $(document).ready(function(){
        $('select').formSelect();
    });

    $(document).ready(function(){
        $('.collapsible').collapsible();
    });
</script>