<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Revision</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>
<body>
<nav>
    <div class="nav-wrapper brown lighten-5">
        <a href="/doctor-home" class="brand-logo center black-text" style="text-decoration: none">Sanatorium</a>
        <ul id="nav-mobile " class="right hide-on-med-and-down ">
            <li><a href="/logout" class="black-text">Выход</a></li>
        </ul>
    </div>
</nav>
<br>
<br>
<form method="get" action="/doctor-home/patient/assign">

    <input class="hide" id="scc" name="scc" type="text" th:value="${patient.getSanatorium_cc()}">

    <div class="container">
        <ul class="collection with-header">
            <li class="collection-header"><h4>Определение диагноза</h4></li>
            <li class="collection-item">
                <div class="row">
                    <div class="input-field col s12">
                        <h6>Диагноз</h6>
                        <select multiple name="diseases">
                            <option value="" disabled selected>Выберите диагноз</option>
                            <tr th:each="disease : ${diseases}">
                                <option th:value="${disease.getId()}" th:text="${disease.getName()}"></option>
                            </tr>
                        </select>
                    </div>
                </div>
            </li>
            <li class="collection-item">
            <br>
            <br>
            <div class="center">
                <button class="btn waves-effect grey lighten-2 black-text" type="submit" name="action">Далее
                    <i class="material-icons right">send</i>
                </button>
            </div>
            <br>
            </li>
        </ul>
    </div>
</form>
</body>
</html>

<script>
    $(document).ready(function(){
        $('select').formSelect();
    });
</script>