<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Procedures</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>
<body>
<nav>
    <div class="nav-wrapper brown lighten-5">
        <a href="/doctor-home" class="brand-logo center black-text" style="text-decoration: none">Sanatorium</a>
        <ul id="nav-mobile " class="right hide-on-med-and-down ">
            <li><a href="/logout" class="black-text">Выход</a></li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <form method="get" action="/doctor-home/patient/assign/procedures">
    <input name="scc" th:value="${patientId}" class="hide">

    <ul class="collection with-header">
        <li class="collection-header"><h5>Основные процедуры пациента</h5></li>
        <li class="collection-item">
            <div class="row">
                <div class="input-field col s12">
                    <h6>Процедуры</h6>
                    <select multiple name="procedures">
                        <option value="" disabled selected> Выберите процедуры</option>
                        <tr th:each="procedure : ${procedures} ">
                            <option th:value="${procedure.id}" th:text="${procedure.getName()}"></option>
                        </tr>
                    </select>
                </div>
            </div>
        </li>
        <li class="collection-header"><h5>Процедуры для профилактики профессиональных заболеваний пациента</h5></li>
        <li class="collection-item">
            <div class="row">
                <div class="input-field col s12">
                    <h6>Процедуры</h6>
                    <select multiple name="profProcedures">
                        <option value="" disabled selected>Выберите процедуры</option>
                        <tr th:each="procedure : ${profProcedures} ">
                            <option th:value="${procedure.id}" th:text="${procedure.getName()}"></option>
                        </tr>
                    </select>
                </div>
            </div>
        </li>
        <br>
        <div class="center">
            <button class="btn waves-effect grey lighten-2 black-text" type="submit" name="action">Далее
                <i class="material-icons right">send</i>
            </button>
        </div>
        <br>
    </ul>
    </form>
</div>

</body>
</html>

<script>
    $(document).ready(function(){
        $('select').formSelect();
    });
</script>
