<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Management System</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

<nav>
    <div class="nav-wrapper brown lighten-5">
        <a href="/doctor-home" class="brand-logo center black-text" style="text-decoration: none">Sanatorium</a>
        <ul id="nav-mobile " class="right hide-on-med-and-down ">
            <li><a href="/logout" class="black-text">Выход</a></li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col s3">
            <h4>Пациенты</h4>
        </div>
        <div class="col s6">
            <form class="searchForm" action="/findDoctorPatients" method="get">
                <input class="search" type="search" name="search">
                <i class="fa fa-search"></i>
            </form>
        </div>
    </div>
    <div th:if="${patientList.isEmpty()}">
        <h4 style="color: darkred">Пациенты не найдены</h4>
    </div>

    <table border="1" class = "table table-striped table-responsive-ms">
        <thead>
        <tr>
            <th>
                Код СКК
            </th>
            <th>
                Серия путевки
            </th>
            <th>
                Полное имя
            </th>
            <th>
                Дата прибытия
            </th>
            <th>
                Корпус

            </th>
            <th class="center">
                Действия
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patientList}">
            <td th:text="${patient.sanatorium_cc}"></td>
            <td th:text="${patient.getVoucher_s()}"></td>
            <td th:text="${patient.getFullName()}"></td>
            <td th:text="${patient.getVoucherDate()}"></td>
            <td th:text="${patient.getCorpus()}"></td>
            <td> <a th:href="@{'/doctor-home/patient-info/' + ${patient.getSanatorium_cc()}}" class="btn brown lighten-4 black-text" style="text-decoration: none">Информация</a>
                <a th:href="@{'/doctor-home/patient-procedures?scc=' + ${patient.getSanatorium_cc()}}" class="btn brown lighten-3 black-text" style="text-decoration: none">Назначения</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>

<style>
    form{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all 1s;
        width: 50px;
        height: 50px;
        background: white;
        box-sizing: border-box;
        border-radius: 25px;
        border: 4px solid white;
        padding: 5px;
    }

    input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;;
        height: 42.5px;
        line-height: 30px;
        outline: 0;
        border: 0;
        display: none;
        font-size: 1em;
        border-radius: 20px;
        padding: 0 20px;
    }

    .fa{
        box-sizing: border-box;
        padding: 10px;
        width: 42.5px;
        height: 42.5px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        color: #07051a;
        text-align: center;
        font-size: 1.2em;
        transition: all 1s;
    }

    form:hover{
        width: 200px;
        cursor: pointer;
    }

    form:hover input{
        display: block;
    }

    form:hover .fa{
        background: #07051a;
        color: white;
    }
</style>