<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctor</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

<nav>
    <div class="nav-wrapper brown lighten-5">
        <a href="/doctor-home" class="brand-logo center black-text" style="text-decoration: none">Sanatorium</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a th:href="@{'/doctor-home/patients/' + ${doctor.getId()}}" class="black-text">Пациенты</a></li>
        </ul>
        <ul id="nav-mobile " class="right hide-on-med-and-down ">
            <li><a href="/logout" class="black-text">Выход</a></li>
        </ul>
    </div>
</nav>
<br>
<br>

<div class="container">
    <div class="divider"></div>
    <div class="section">
        <a href="/doctor-home/patient"><i class="medium material-icons right">add_circle_outline</i></a>
        <h5>Добавить нового пациента</h5>
    </div>
    <div class="divider"></div>
    <br>
    <br>
    <div class="section">
        <h5>Повторный осмотр</h5>
        <form class="col s6" action="/doctor-home/patient-procedures" method="get">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Номер СКК" id="scc" name="scc" type="text" class="validate">
                </div>
            </div>
        </form>
    </div>
    <div class="divider"></div>
</div>
</body>
</html>