<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Diagnoses</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>
<body>
<nav>
    <div class="nav-wrapper brown lighten-5">
        <a href="/doctor-home" class="brand-logo center black-text" style="text-decoration: none">Sanatorium</a>
        <ul id="nav-mobile " class="right hide-on-med-and-down ">
            <li><a href="/logout" class="black-text">Выход</a></li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <ul class="collection with-header">
        <li class="collection-header">
            <div class="row">
                <div class="col s12">
                    <h4>Диагнозы</h4>
                    <div class="divider"></div>
                    <h5 th:text="${patient.getFullName()}">Пациент</h5>
                    <p th:text="'Код санаторно-курортной карты: '+${patient.getSanatorium_cc()}">Код скк</p>
                    <p th:if="${patient.getProfession() != null}" th:text="'Профессия : ' + ${patient.getProfession().getName()}"></p>
                </div>

            </div>
        </li>
        <tr th:each="disease : ${diseases}">
            <form method="post" action="/deleteDiagnosis">
                <input class="hide" name="scc" th:value="${patient.sanatorium_cc}">
                <input class="hide" name="diseaseId" th:value="${disease.getId()}">
                <li class="collection-item">
                    <div class="row">
                        <button class="btn waves-effect grey lighten-2 black-text right" type="submit" name="action">
                            <i class="material-icons">delete</i>
                        </button>

                        <h6 class="col s6" th:text="${disease.getName()}"></h6>
                    </div>
                </li>
            </form>
        </tr>

    </ul>
</div>
</body>
</html>