<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assigned</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>
<body>
    <nav>
        <div class="nav-wrapper brown lighten-5">
            <a href="/doctor-home" class="brand-logo center black-text" style="text-decoration: none">Sanatorium</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a th:href="@{'/doctor-home/patients/' + ${doctor.getId()}}" class="black-text">Пациенты</a></li>
            </ul>
            <ul id="nav-mobile " class="right hide-on-med-and-down ">
                <li><a href="/logout" class="black-text">Выход</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <br>
        <div class="divider"></div>
        <div class="section">
            <div class="row">
                <div class="col s4">
                    <h5 th:text="${patient.getFullName()}">Пациент</h5>
                    <p th:text="'Код санаторно-курортной карты: '+${patient.getSanatorium_cc()}">Код скк</p>
                    <p th:if="${patient.getProfession() != null}" th:text="'Профессия : ' + ${patient.getProfession().getName()}"></p>
                </div>
                <div class="col s4">
                    <a th:href="@{'/doctor-home/patient/assignMore?scc=' + ${patient.getSanatorium_cc()}}">
                        <i class="medium material-icons right">add_circle_outline</i>
                    </a>
                    <h5>Добавить назначение</h5>
                </div>
                <div class="col s4">
                    <a th:href="@{'/doctor-home/patient/diagnosis?scc=' + ${patient.getSanatorium_cc()}}">
                        <i class="medium material-icons right">add_circle_outline</i>
                    </a>
                    <h5 style="margin-left: 45px">Добавить диагноз</h5>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <h5>Диагноз : <a th:href="@{'/doctor-home/patient/diagnoses?scc=' + ${patient.getSanatorium_cc()}}"><i class="small material-icons">mode_edit</i></a></h5>
                    <tr th:each="diagnosis : ${diagnoses}">
                        <span th:text="${diagnosis.disease.getName()} + ', '"></span>
                    </tr>
                </div>
                <div class="col s4">
                    <h5>Дата прибытия : </h5>
                    <span th:text="${patient.getArrivalDate()}"></span>
                </div>
                <div class="col s4">
                    <h5>Дата выезда : </h5>
                    <span th:text="${patient.getLeaveDate()}"></span>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <br>
        <tr th:each="procedure : ${assignedList}">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header  grey lighten-1 black-text">
                        <div class="row" th:text="${procedure.getProcedure().getName()}"></div>
                        <i class="medium material-icons right">accessibility</i>
                    </div>
                    <div class="collapsible-body  grey lighten-2 black-text">
                        <div th:text="'Назначено процедур : '+${procedure.getAssigned()}"></div>
                        <br>
                        <div th:text="'Пройдено процедур : '+${procedure.getPassed()}"></div>
                        <br>
                        <div th:text="'Дата последнего осмотра: '+${procedure.getDate()}"></div>
                        <br>
                    </div>
                    <div class="collapsible-body grey lighten-3 black-text">
                        <a th:href="@{'/deleteProcedure?scc=' +${patient.getSanatorium_cc()} + '&procedureId=' + ${procedure.getProcedureid()}}">
                            <i class="material-icons right">delete</i>
                        </a>
                        <div th:text="'Примечания : '+${procedure.getComment()}"></div>
                    </div>
                </li>
            </ul>
        </tr>
    </div>
</body>
</html>

<script>
    $(document).ready(function(){
        $('.collapsible').collapsible();
    });
</script>